.header {
  padding: 40px 0;
  @include w767 {
    padding: 20px 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    max-width: 250px;
    color: var(--main-text);
    @include w767 {
      max-width: 200px;
    }
    &:hover #logo-bg,
    &:focus #logo-bg {
      fill: var(--accent-logo);
    }
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
      object-fit: cover;
      #logo-bg {
        transition: fill 0.3s ease-in-out;
        fill: var(--main-bg);
      }
    }
  }
}
